{% comment %}
  Tento snippet slouží k ladění položek menu a zdůraznění slov s podprvky červenou barvou.
{% endcomment %}

{% assign current_item_title = menu_item.title | downcase %}
{% assign collection_title_lowercase = current_collection_title | downcase %}

{% if current_item_title contains collection_title_lowercase %}
  <span style="color: red;">{{ current_item_title }}</span>
  {% for sub_item in menu_item.links %}
    {% include 'menu-item-debug' menu_item=sub_item current_collection_title=current_collection_title %}
  {% endfor %}
{% else %}
  {{ current_item_title }}
{% endif %}
