{% comment %}
  This snippet is used to debug the menu items and highlight words with sub-items in red.
{% endcomment %}

{% if menu_item.links.size > 0 %}
  <span style="color: red;">{{ menu_item.title }}</span>
  {% for sub_item in menu_item.links %}
    {% include 'menu-item-debug' menu_item=sub_item current_collection_title=current_collection_title %}
  {% endfor %}
{% else %}
  {{ menu_item.title }}
{% endif %}
