<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Footer Example</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    >
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>

  <style>
      body {
          margin: 0;
          font-family: Poppins;
      }

      .footer {
          background-color: #333;
          color: #fff;
          padding: 20px;
      }

      .footer-width{
          display: flex;
          display: flex;
          justify-content: center;
          gap: 15%;
      }

      .footer-section {
          max-width: 300px;
      }

      .footer h3 {
          font-size: 18px;
          margin-bottom: 10px;
          color: white;
          font-weight:700;
      }

      .footer ul {
          list-style: none;
          padding: 0;
          margin: 0;
      }

      .footer li {
          margin-bottom: 5px;
      }

      .footer a, .footer p {
          text-decoration: none;
          color: #fff;
          font-weight: bold;
      }

      .footer a:hover {

      }

      @media only screen and (max-width: 920px) {
        .footer-width{
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          width: 300px;
        }

        .footer{
      display: flex;
      justify-content: center;
    }
      }
  </style>

  <body>
    <div class="footer">
      <section class="footer-width">
        <div class="footer-section">
          <h3>Informace</h3>
          <ul>
            <li><a href="https://www.freshsole.cz/pages/kontakt">Kontakt</a></li>
            <li><a href="https://www.freshsole.cz/pages/o-nas">O nás</a></li>
            <li><a href="https://www.freshsole.cz/pages/vraceni-zbozi">Vrácení zboží</a></li>
            <li><a href="https://www.freshsole.cz/pages/tabulky-velikosti">Tabulky velikostí</a></li>
            <li><a href="https://www.freshsole.cz/pages/obchodni-podminky">Obchodní podmínky</a></li>
            <li><a href="#">Ochrana osobních údajů</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3>Kontaktujte FreshSole</h3>
          <p>Telefon: 776 169 514</p>
          <p>Email: <a href="mailto:freshsolecz@gmail.com">freshsolecz@gmail.com</a></p>
        </div>
        <div class="footer-section">
          <h3>Sociální sítě:</h3>
          <ul class="social-icons">
            <li>
              <a href="#" target="_blank" title="Instagram"><i class="fa-brands fa-instagram"></i> Instagram</a>
            </li>
            <li>
              <a href="#" target="_blank" title="Facebook"><i class="fa-brands fa-facebook"></i> Facebook</a>
            </li>
            <li>
              <a href="#" target="_blank" title="TikTok"><i class="fa-brands fa-tiktok"></i> TikTok</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </body>
</html>
<script src="https://kit.fontawesome.com/81e198090f.js" crossorigin="anonymous"></script>
