{% comment %}
  Liquid Footer
{% endcomment %}

<div class="footer-flex-container">
  <div class="footer-menu-item"><a href="https://www.freshsole.cz/pages/contact">Kontakt</a></div>
  <div class="footer-menu-item"><a href="https://www.freshsole.cz/pages/o-nas">O nás</a></div>
  <div class="footer-menu-item"><a href="https://www.freshsole.cz/pages/vraceni-zbozi">Vrácení zboží</a></div>
  <div class="footer-menu-item"><a href="https://www.freshsole.cz/pages/tabulky-velikosti">Tabulky velikostí</a></div>
  <div class="footer-menu-item"><a href="https://www.freshsole.cz/pages/obchodni-podminky">Obchodní podmínky</a></div>
  <div class="footer-menu-item">
    <a href="https://www.freshsole.cz/pages/gdpr-ochrana-osobnich-udaju">Ochrana osobních údajů</a>
  </div>
</div>

<style>
  .footer-flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: #eaeaea;
      font-size: 16px;
      font-weight: 600;
      padding: 0;
      height: 100px;
  }

  .footer-menu-item {
      margin: 10px;
      position: relative;
      text-decoration:none;
      color:black;
  }

  .footer-menu-item:not(:last-child)::after {
      content: "|";
      position: absolute;
      right: -10px; /* Adjust as needed */
  }
</style>
