{% comment %}
  Liquid Footer
{% endcomment %}

<div class="footer-flex-container">
  <div class="footer-menu-item">Kontakt</div>
  <div class="footer-menu-item">O nás</div>
  <div class="footer-menu-item">Vrácení zboží</div>
  <div class="footer-menu-item">Tabulky velikostí</div>
  <div class="footer-menu-item">Obchodní podmínky</div>
  <div class="footer-menu-item">Ochrana osobních údajů</div>
</div>

<style>
  .footer-flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: #eaeaea;
      font-size: 16px;
      font-weight: 600;
      padding: 0;
      height: 100px;
  }

  .footer-menu-item {
      margin: 10px;
      position: relative;
  }

  .footer-menu-item:not(:last-child)::after {
      content: "|";
      position: absolute;
      right: -10px; /* Adjust as needed */
  }
</style>
